<div class="card w-100 my-5">
    <div class="card-body">
        <h1 class="card-title text-center">Formulário de Ferramentas</h1>
        <form class="row my-4">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Digite a Ferramenta">
                <label for="floatingInput">Ferramenta</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Digite o Preço">
                <label for="floatingInput">Preço</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Digite a Função">
                <label for="floatingInput">Função</label>
            </div>
            <div class="row my-4">
                <div class="form-group col-12 mt-4">
                    <button type="button" class="btn btn-outline-danger">Cancelar</button>
                    <button type="button" class="btn btn-outline-success mx-3">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>